alembic==1.13.1
llama-index==0.10.20
llama-index-core==0.10.20
llama-index-readers-file==0.1.11
llama-index-embeddings-openai==0.1.6
llama-index-llms-openai==0.1.11
llama-index-vector-stores-chroma==0.1.6
fastapi==0.110.0
uvicorn==0.28.0
sqlalchemy==2.0.28
pydantic-settings==2.2.1
aiosqlite==0.20.0
chromadb==0.4.24
xdg-base-dirs==6.0.1
